* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px;
  border: 2px solid #333;
  background-color: #f0f0f0;
  padding: 20px;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.grid-box:nth-child(even) {
  direction: rtl;
}

.grid-box:nth-child(even) .item {
  direction: ltr;
}

.item {
  color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.item-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.item-content button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
